.card {
    width: 15rem;
    margin: 15px;
    background-color: #f0e3e7;
    /* background-color: #ebe7e8; */
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px 0 rgba(27, 25, 25, 0.3);
}