<div class="card d-inline-block">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Titlu Film</h5>
        <h6 class="card-title">Ora</h6>

        <p class="card-text">Scurta descriere sau genul</p>
        <div class="text-center">
            <a [routerLink]="['/reserve']" class="btn btn-outline-dark">Rezerva</a>
            <a [routerLink]="['/details']" class="btn btn-outline-dark ml-2">Detalii</a>
        </div>
    </div>
</div>