<app-menu></app-menu>

<div class="container" style="margin-top:30px">
    <h2 style="text-align: center;">{{movieDetails?.title}}</h2>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <h3>Audiență</h3>
            <button type="button" class="btn btn-secondary" disabled>{{movieDetails?.type}}</button>

        </div>
        <div class="col-sm-3">
            <h3>Durată</h3>
            <h5>{{movieDetails?.duration}}</h5>
        </div>

        <div class="col-sm-6">
            <h3>Anul apariției</h3>
            <h5>{{movieDetails?.year}}</h5>
        </div>

        <div class="col-sm-12">
            <br>
            <h3>Plot</h3>
            <h5 style="text-align: justify;">{{movieDetails?.summary}}
            </h5>
        </div>

        <!-- 
        <div class="col-sm-12">
            <h3>Trailer</h3>
        </div> -->
        <!-- <iframe id="video" class="col-sm-12" [src]="movieDetails.trailer" frameborder="0"></iframe> -->

    </div>