<app-menu></app-menu>


<div class="container" style="margin-top:30px">
    <h2 style="text-align: center;">Harry Potter</h2>
    <br>
    <div class="row">

        <div class="col-sm-4">
            <img id="photo" class="col-sm-12" src="../../../assets/image/hp.jpeg" alt="HP">
        </div>
        <div class="col-sm-4">
            <h3>Gen</h3>
            <button type="button" class="btn btn-secondary" disabled>{{actiune}}</button>
            <button type="button" class="btn btn-secondary" disabled>Animatie</button>
        </div>

        <div class="col-sm-4" style="text-align: center;">
            <a [routerLink]="['/reservation']" class="btn btn-dark btn-lg">Rezerva</a>
        </div>

        <div class="col-sm-12">
            <h3>{{actori}}</h3>
            <p>daaaaaa, laaaaa, gdbshdbashd, hdvahdvah</p>
            <h3>Plot</h3>

            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>


        <div class="col-sm-12">
            <h3>Trailer</h3>
        </div>
        <iframe id="video" class="col-sm-12" src="https://www.youtube.com/embed/lAxgztbYDbs" frameborder="0"></iframe>

    </div>