<app-menu></app-menu>

<div class="container">
    <div>
        <h2>Biletele mele</h2>
        <br>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Titlu filmului</th>
                <th scope="col">Data</th>
                <th scope="col">Ora</th>
                <th scope="col">Durata</th>
                <th scope="col">Sala</th>
                <th scope="col">Nr locuri</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets">
                <th scope="row">{{ticket.movie_title }}</th>
                <td>{{ticket.screening_date | date:'shortTime' }}</td>
                <td>{{ticket.screening_date | date:'shortDate' }}</td>
                <td>{{ ticket.movie_duration }}</td>
                <td>{{ ticket.RoomId }}</td>
                <td> {{ticket.ticket_seat }}</td>
                <td><button type="button" class="btn btn-danger">Sterge</button></td>
            </tr>
        </tbody>
    </table>

</div>