.container {
    background-color: #ebe7e8;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 80px 0 rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding: 5%;
}

h2 {
    text-decoration-line: underline;
    text-decoration-color: #9e7d88;
}