<div>
    <tabset [justified]="true">
        <tab heading="Luni">
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>

        </tab>
        <tab heading="Marti">
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>

        </tab>
        <tab heading="Miercuri">
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>

        </tab>
        <tab heading="Joi">
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>

        </tab>
        <tab heading="Vineri">
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>

        </tab>
        <tab heading="Sambata">
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>

        </tab>
        <tab heading="Duminica">
            <app-movie-card></app-movie-card>
            <app-movie-card></app-movie-card>

        </tab>
    </tabset>
</div>