<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-light dropdown-toggle" aria-controls="dropdown-basic">
      Actiuni admin <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu bg-light" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a [routerLink]="['/addMovie']" class="dropdown-item bg-light">Adauga film</a></li>
        <li role="menuitem"><a [routerLink]="['/addRoom']" class="dropdown-item bg-light">Adauga sala</a></li>
        <li role="menuitem"><a class="dropdown-item bg-light" href="#">Adauga ecranizare</a></li>
    </ul>
</div>