<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-light dropdown-toggle" aria-controls="dropdown-basic">
      Acțiuni admin <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu bg-light" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a [routerLink]="['/addMovie']" class="dropdown-item bg-light">Adaugă film</a></li>
        <li role="menuitem"><a [routerLink]="['/addRoom']" class="dropdown-item bg-light">Adaugă sală</a></li>
        <li role="menuitem"><a [routerLink]="['/addScreening']" class="dropdown-item bg-light">Adaugă ecranizare</a></li>
        <li role="menuitem"><a [routerLink]="['/showMovies']" class="dropdown-item bg-light">Vezi filme</a></li>
        <li role="menuitem"><a [routerLink]="['/showRooms']" class="dropdown-item bg-light">Vezi săli</a></li>
        <li role="menuitem"><a [routerLink]="['/showScreening']" class="dropdown-item bg-light">Vezi ecranizări</a></li>
    </ul>
</div>