<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #9e7d88;">

    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">
 Cinema
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <a class="nav-link text-light" aria-current="page" href="#">Acasa</a>
            <a class="nav-link text-light" href="#">Program</a>
            <a class="nav-link text-light" href="#">Contact</a>

            <!-- componenta dropdown admin -->
            <app-dropdown-admin></app-dropdown-admin>


        </div>

        <!-- todo responsiv -->
        <div class="text-right">
            <button type="button" class="btn btn-outline-light float-right  ml-2">Autentificare </button>
            <button type="button" class="btn btn-outline-light float-right">Inregistrare </button>
        </div>
    </div>
</nav>