<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h5> Autentificare </h5>
        <!-- Icon -->
        <!-- <div class="fadeIn first">
            <img src="..." id="icon" alt="Icon" />
        </div> -->

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email...">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Parola...">
            <input type="submit" class="fadeIn fourth" value="Autentificare">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>