<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h5> Autentificare </h5>
        <div class="alert alert-danger" *ngIf="isValid()">Your form is invalid</div>
        <div class="alert alert-danger" *ngIf="isError">Adresa de email sau parola gresita!</div>
        <!-- Login Form -->
        <form>
            <input type="text" class="form-control fadeIn second" [class]="validateEmail(user.email) ? 'form-control' : 'form-control is-invalid'" [ngClass]="validateEmail(user.email) ? '' : 'is-invalid'" [(ngModel)]="user.email" name="email" placeholder="Email...">

            <input type="password" class="form-control fadeIn third" [(ngModel)]="user.password" name="password" placeholder="Parola...">

            <button type="submit" class="fadeIn fourth" [disabled]="isValid()" (click)="login()">Autentificare</button>
        </form>

    </div>
</div>