<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h5> Inregistrare </h5>
        <!-- Icon -->
        <!-- <div class="fadeIn first">
            <img src="..." id="icon" alt="Icon" />
        </div> -->

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" placeholder="Name...">
            <input type="text" id="login" class="fadeIn second" placeholder="Email...">
            <input type="password" id="password" class="fadeIn third" placeholder="Parola...">
            <input type="password" id="password" class="fadeIn third" placeholder="Confirma parola...">

            <input type="submit" class="fadeIn fourth" value="Inregistrare">
        </form>

    </div>
</div>