<app-menu></app-menu>
<div class="container" style="margin-top:30px">

    <h2>Harry Potter</h2>
    <br>
    <h4>Ora: 14:20</h4>

    <h5>Nr. sala: 15</h5>
    <br>
    <p></p>
    <span class="seat-table" *ngFor="let item of seatCards; let i=index">
    
        <app-seat-card  (clickedSeat)="onClickedSeat($event)" [reserved]=item.reserved [clicked]=item.clicked [seatNumber]=item.seatNumber></app-seat-card>
        <br *ngIf=" (i+1) % 10==0 ">

    </span>
    <br> <br>
    <button [routerLink]="['/reservation']" class="btn btn-dark">Rezerva</button>
</div>