<app-menu></app-menu>

<div class="container">
    <div class="divB">
        <h2>Adăugare ecranizare</h2>
        <br>
    </div>
    <div class="alert alert-danger" style="text-align: center;" *ngIf="isValid()">Toate campurile sunt obligatorii și trebuie să respecte formatul sugerat!</div>
    <form>

        <div class="mb-3 col-md-8 offset-md-2">
            <label class="form-label">Id-ul sălii</label>
            <input type="text" class="form-control" [(ngModel)]="screeningDetails.roomId" name='roomId'>
            <div style="color: rgb(189, 126, 126);" *ngIf="!isValidRoomId(screeningDetails.roomId)">
                Id-ul sălii trebuie să fie un număr!
            </div>
        </div>

        <div class="mb-3 col-md-8 offset-md-2">
            <label class="form-label">Id-ul filmului</label>
            <input type="text" class="form-control" [(ngModel)]="screeningDetails.movieId" name='movieId'>
            <div style="color: rgb(189, 126, 126);" *ngIf="!isValidMovieId(screeningDetails.movieId)">
                Id-ul filmului trebuie să fie un număr!
            </div>
        </div>

        <div class="mb-3 col-md-8 offset-md-2">
            <label class="form-label">Data</label>
            <input type="text" class="form-control" [(ngModel)]="screeningDetails.date" name='date'>
            <div style="color: rgb(189, 126, 126);" *ngIf="(isValidDate(screeningDetails.date)).isError">
                {{validationResult.message}}
            </div>
        </div>


        <div class="divB">
            <button type="submit" class="btn btn-dark btn-lg" [disabled]="isValid()" (click)="addScreening()">Adaugă</button>
        </div>
    </form>
</div>