<app-menu></app-menu>
<div class="container">
    <!-- <div id="img">
        <img src="../../../assets/image/home.png" alt="Vizionare palcuta" width="200" height="50">
    </div> -->
    <h1>Vizionare plăcută!</h1>
    <carousel>
        <slide>
            <img src="assets/image/poza1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/image/poza4.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/image/poza2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/image/poza3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/image/poza5.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/image/poza6.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>

    </carousel>
</div>