<app-menu></app-menu>
<div class="container">
    <div>
        <h2>Informatii sali</h2>
        <br>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id sala</th>
                <th scope="col">Nume sala</th>
                <th scope="col">Capacitate sala</th>
                <th scope="col">Tipul proiectorului</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms">
                <th scope="row">{{ room.RoomId }}</th>
                <td>{{ room.room_name }}</td>
                <td>{{ room.room_capacity }}</td>
                <td>{{ room.projector_type }}</td>
                <td><button type="button" class="btn btn-danger" (click)="deleteRoom(room.RoomId)">Sterge</button></td>
                <td><button type="button" class="btn btn-secondary" (click)="editRoom(room.RoomId)">Editeaza</button></td>

            </tr>
        </tbody>
    </table>

</div>